# Python junk
*.pyc

# Packaging junk
/*.egg-info
/*.eggs
/dist
/build

# IDE junk
/.idea

# SQlite database
/demosite/db.sqlite3

# Media files
/demosite/media

# Mac junk
.DS_Store

# Tests junk
/.cache
